<!--
 * @Author: SilvesterChiao
 * @Date: 2020-05-28 15:55:04
 * @LastEditors: SilvesterChiao
 * @LastEditTime: 2020-05-28 16:29:21
-->

<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="./styles/index.css"/>
</head>
<body>
    <div class="main">
        <p>EJS Welcome to <%= title %></p>
        <ul>

        </ul>
    </div>
</body>
</html>
