doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/style.css')
    link(rel='stylesheet', href='/styles/header.css')
    link(rel='stylesheet', href='/styles/footer.css')
    link(rel='stylesheet', href='/styles/main.css')
    block style
  body
    include header
    .main
      block content
    include footer
    block script
