<!--
 * @Author: SilvesterChiao
 * @Date: 2020-05-28 15:55:04
 * @LastEditors: SilvesterChiao
 * @LastEditTime: 2020-07-01 11:14:55
-->

<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="./styles/teacher.css"/>
</head>
<body>
<p><%= title %></p>
<div class="teacher-list-wrapper">
    <ul id="teacher-list">

    </ul>
</div>
<script src="/scripts/utils/request.js"></script>
<script src="/scripts/teacher.js"></script>
</body>
</html>
