/*
 * @Author: SilvesterChiao
 * @Date: 2020-05-28 16:20:09
 * @LastEditors: SilvesterChiao
 * @LastEditTime: 2020-05-28 16:20:41
 */

.main {
    margin: 20px;
    padding: 20px;
    border: 1px solid salmon;
}
